<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">	
	<link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}">
	<script th:src="@{/js/validacionParte.js}" defer></script>
	<title>Formulario para parte de trabajador</title>
</head>

<body>
	<div class="container-fluid form-section">
		<div class="row">
			<div class="col-md-6 p-0">
				<img th:src="@{/img/editar.jpg}" alt="Imagen de fondo">
			</div>
			<div class="col-md-6 bg-gray d-flex justify-content-center align-items-center">
				<form method="POST" th:action="@{/admin/addParte/submit}" th:object="${parteTrabajador}" class="w-75" id="formulario">
					<div class="mb-3">
						<a th:href="@{/admin/listaParteTrabajador}"><i class="bi bi-arrow-return-left"></i></a>
					</div>
					<h1 class="text-center mb-4"> Editar el parte de un trabajador</h1>
					<div class="mb-3">
						<label for="trabajador_id">Trabajador</label>
						<select th:field="${parteTrabajador.parteTrabajadorPK.trabajador_id}" class="form-control">
							<option value="-1">---</option>
							<option th:each="trabajador : ${trabajadores}" th:value="${trabajador.id_trabajador}"
								th:text="${trabajador.nombre}">Nombre del trabajador</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="reforma_id">Reforma</label>
						<select th:field="${parteTrabajador.parteTrabajadorPK.reforma_id}" class="form-control">
							<option value="-1">---</option>
							<option th:each="reforma : ${reformas}" th:value="${reforma.id}" th:text="${reforma.id}">Id
								de la reforma</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="fecha" class="form-label">Fecha</label>
						<input type="date" class="form-control" th:field="${parteTrabajador.parteTrabajadorPK.fecha}">
					</div>
					<div class="mb-3">
						<label for="numHoras" class="form-label">Numero de horas</label>
						<input type="number" class="form-control" th:field="*{numHoras}" id="numHoras">
						<p class="errorForm">Las horas no pueden ser inferiores a 0</p>
					</div>
					<div class="mb-3">
						<label for="numHorasExtra" class="form-label">Número de horas extra</label>
						<input type="number" class="form-control" th:field="*{numHorasExtra}" id="numHorasExtra">
						<p class="errorForm">Las horas no pueden ser inferiores a 0</p>
					</div>
					<div class="mb-3">
					</div>
					<div class="col-12">
						<button type="submit" class="btn btn-primary col-12">Editar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>