<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<title>Tabla de reformas</title>
</head>

<body>
	
	 <nav th:replace="~{fragment/menu::menu}"></nav>
	<table class="table table-striped table-hover">

		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Fecha de inicio</th>
				<th scope="col">Fecha de Fin</th>
				<th scope="col">Presupuesto</th>
				<th scope="col">Calle</th>
				<th scope="col">Jefe de obra</th>
				<th scope="col">Propietario</th>
				<th><a th:href="@{/admin/addReforma}"><i class="bi bi-house-add-fill"></i></a></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="reforma : ${listaReformas}">
				<td th:text="${reforma.id}">1</td>
				<td th:text="${reforma.fechaInicio}">fecha de inicio</td>
				<td th:text="${reforma.fechaFinal}">fecha de final</td>
				<td th:text="${#numbers.formatCurrency(reforma.presupuesto)}">presupuesto</td>
				<td th:text="${reforma.calle}">Calle de la reforma</td>
				<td th:text="${reforma.jefeDeObra.nombre}"> Jefe de obra</td>
				<td th:text="${reforma.propietario.nombre}">Propietario</td>
				<td>
					<a th:href="@{/admin/editarReforma/{id}(id=${reforma.id})}"><i class="bi bi-pen-fill"></i></a> |
					<a th:href="@{/admin/borrarReforma/{id}(id=${reforma.id})}"><i class="bi bi-trash3-fill"></i></a> |
					<a th:href="@{/admin/materialesRefo}">Ver materiales</a>
					<a th:href="@{/admin/carrito}">Ir al carrito</a>
					<a class="nav-link" th:href="@{/admin/listaMateriales}">Materiales</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>