<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<title>Pagina principal</title>
</head>

<body class="paginaPrincipal">

	<div class="container">
		<a th:href="@{/login}"><i class="bi bi-box-arrow-in-right"></i></a>
		<h1 class="fw-light text-center text-lg-start mt-4 mb-0">MARGAR REFORMAS</h1>

		<hr class="mt-2 mb-5">

		<div class="row text-center text-lg-start">

			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="../img/reforma1.jpg" alt="foto de la primera reforma">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="../img/reforma2.jpg" alt="foto de la segunda reforma">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="../img/reforma3.jpg" alt="foto de la tercera reforma">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="../img/reforma4.jpg" alt="foto de la cuarta reforma">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="../img/reforma5.jpg" alt="foto de la quinta reforma">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="../img/reforma6.jpg" alt="foto de la sexta reforma">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="../img/reforma7.jpg" alt="foto de la septima reforma">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="../img/reforma8.jpg" alt="foto de la octava reforma">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="../img/reforma9.jpg" alt="foto de la novena reforma">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="../img/reforma10.jpg" alt="foto de la decima reforma">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="../img/reforma11.jpg" alt="foto de la decimo primera reforma">
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-6">
				<a href="#" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="../img/reforma12.jpg" alt="foto de la decimo segunda reforma">
				</a>
			</div>
		</div>

	</div>
	<footer>
		<nav th:replace="~{fragment/footer::footer}"></nav>
	</footer>
</body>

</html>